body{
    background-color: black;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    color:white;
}


.square{
    flex: 0 0 calc(100% / 16);
    box-sizing: border-box;
    width:6.25%;
    height:6.25%;
    background-color: dodgerblue;
    border: 1px solid darkblue;
   
    
}

.square-user{
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing:border-box;
    background-color: goldenrod;
    border: 1px solid darkblue
}

#container{
    text-align: center;
    display:flex;
    flex-wrap:wrap;
    

    width: 800px;
    height: 800px;
    border: 1px solid rgb(255, 255, 255);
    
}

#grid-options{
    text-align: center;
}